/* 文本大小 */
.text-12px { font-size: 12px; }

.text-14px { font-size: 14px; }

.text-16px { font-size: 16px; }

.text-18px { font-size: 18px; }

.text-20px { font-size: 20px; }

.text-22px { font-size: 22px; }

.text-24px { font-size: 24px; }

.text-26px { font-size: 26px; }

.text-28px { font-size: 28px; }

.text-30px { font-size: 30px; }

.text-32px { font-size: 32px; }

.text-34px { font-size: 34px; }

.text-36px { font-size: 36px; }

.text-38px { font-size: 38px; }

.text-40px { font-size: 40px; }

.text-42px { font-size: 42px; }

.text-44px { font-size: 44px; }

.text-46px { font-size: 46px; }

.text-48px { font-size: 48px; }

.text-50px { font-size: 50px; }

.text-52px { font-size: 52px; }  

.text-54px { font-size: 54px; }  

.text-56px { font-size: 56px; }  

.text-58px { font-size: 58px; }  

.text-60px { font-size: 60px; }  

.text-62px { font-size: 62px; }  

.text-64px { font-size: 64px; }  

.text-66px { font-size: 66px; }  

